<!DOCTYPE html>
<html lang="ja">
<head>
	<title>ログイン | Script maker</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<header>
	</header>

	<div class = "content">

			<span id = "login-head">
			<div>
			<h1>ログイン</h1>
			</div>	
			</span>

		<div class = "content2">

			<span id = "login-form">

			<form action="">

			<div class = "mail-address">
			<h1>メールアドレス</h1>
			<input type="text">
			</div>

			<div class = "password">
			<h1>パスワード</h1>
			<input type="text">
			</div>		

			</form>

			</span>

			<span id = "login-button">
			<div>
				<button>ログイン</button>
			</div>
			</span>	

		</div>

	</div>

	<footer>
	</footer>
</body>
</html>

